<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<base href="{{  site.baseurl  }}">
	<!-- <base href="/"> -->
	<title>{{  page.title  }} | {{  site.title  }}</title>
	<meta name="description" content="{{  page.description  }}" />
	<meta name="keywords" content="{{  page.keyword  }}">
	<meta name="robots" content="index, follow">
	<meta name="author" content="{{  site.owner  }}">
	<meta name="copyright" content="Все права на сайт и размещенные материалы в рамках данного проекта принадлежат {{  site.copyrightowner  }}">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta property="og:image" content="{{  page.image  }}">

	<link rel="shortcut icon" href="img/favicon.ico" />

<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/android-chrome-96x96.png">
<link rel="manifest" href="img/site.webmanifest">
<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="{{  site.themecolor  }}">
<meta name="msapplication-TileColor" content="{{  site.themecolor  }}">
<meta name="msapplication-config" content="img/browserconfig.xml">
<meta name="theme-color" content="{{  site.themecolor  }}">
<meta name="msapplication-navbutton-color" content="{{  site.themecolor  }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{  site.themecolor  }}">

	<!-- 3 нижние строки Chrome, Firefox OS and Opera; Windows Phone; iOS Safari    -->

	<style>
		html {background-color: #fff;}
		body {opacity: 0;overflow-x: hidden;}
	</style>
	<link rel="stylesheet" href="css/libs.min.css" />
</head>
<body>
