<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<base href="{{  site.baseurl  }}">
	<!-- <base href="/"> -->
	<title>{{  site.title  }}</title>
	<meta name="description" content="{{  site.description  }}" />
	<meta name="keywords" content="создать сайт с нуля, верстаю быстрые шаблоны">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Олег Василенко">
	<meta name="copyright" content="Все права на сайт и размещенные материалы в рамках данного проекта принадлежат Олегу Василенко">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta property="og:image" content="{{  site.imagehome  }}">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" />
	<!-- 3 нижние строки Chrome, Firefox OS and Opera; Windows Phone; iOS Safari    -->
	<meta name="theme-color" content="{{  site.themecolor  }}">
	<meta name="msapplication-navbutton-color" content="{{  site.themecolor  }}">
	<meta name="apple-mobile-web-app-status-bar-style" content="{{  site.themecolor  }}">
	<style>
		html {background-color: #fff;}
		body {opacity: 0;overflow-x: hidden;}
	</style>
	<link rel="stylesheet" href="css/libs.min.css" />
</head>

<body class="ishome">
