
		<section class="second-section">
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-md-8">
						<h2><a href="#">Новости IT</a></h2>
						<div class="row news-wrap clearfix">
							<div class="col-md-6">
								<div class="pattern">
									<a href="#" class="overlay item-news" style="background-image: url(img/blog/news/6.jpg)">
										<div class="item-news-content">
											<h3>Золотистый iPhone предыдущего поколения положили на тыкву</h3>
											<span class="date">21/06/2017</span>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="pattern">
									<a href="#" class="overlay item-news" style="background-image: url(img/blog/news/7.jpg)">
										<div class="item-news-content">
											<h3>Программист из Урюково посадил зрение после 22-х лет работы</h3>
											<span class="date">21/06/2017</span>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="pattern">
									<a href="#" class="overlay item-news" style="background-image: url(img/blog/news/8.jpg)">
										<div class="item-news-content">
											<h3>Обнаружена первая в мире белая виниловая пластинка без дорожек</h3>
											<span class="date">21/06/2017</span>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="pattern">
									<a href="#" class="overlay item-news" style="background-image: url(img/blog/news/9.jpg)">
										<div class="item-news-content">
											<h3>Человек впервые в мире сделал снимок моря в поле</h3>
											<span class="date">21/06/2017</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="aside-box">
							<img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
						</div>
						<div class="aside-box">
							<img src="img/ad-cube.jpg" alt="alt" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</section>