
		<section class="third-section dark-section">
			<div class="container-fluid">
				<h2><a href="#">Обзоры</a></h2>
				<div class="row clearfix">
					<div class="col-md-3">
						<div class="col-item col-item-dark">
							<a href="#">
								<img src="img/blog/reviews/10.jpg" alt="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру" class="img-responsive img-width overlay" title="Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру">
							</a>
							<div class="col-item-meta">
								<div class="item-comments" title="Количество комментариев">
									<span class="date">25/12/2017</span>
									<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
								</div>
							</div>
							<h4><a href="#">Новый смартфон с функцией настольного пылесоса всколыхнул сообщества гиков по всему миру</a></h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-item col-item-dark">
							<a href="#">
								<img src="img/blog/reviews/11.jpg" alt="Sony выпустили новую полупрофессиональную камеру с высоким разрешением" class="img-responsive img-width overlay" title="Sony выпустили новую полупрофессиональную камеру с высоким разрешением">
							</a>
							<div class="col-item-meta">
								<div class="item-comments" title="Количество комментариев">
									<span class="date">25/12/2017</span>
									<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
								</div>
							</div>
							<h4><a href="#">Sony выпустили новую полупрофессиональную камеру с высоким разрешением</a></h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-item col-item-dark">
							<a href="#">
								<img src="img/blog/reviews/12.jpg" alt="Флагман от Samsung 2017 года продолжает радовать своих покупателей новыми функциями" class="img-responsive img-width overlay" title="Флагман от Samsung 2017 года продолжает радовать своих покупателей новыми функциями">
							</a>
							<div class="col-item-meta">
								<div class="item-comments" title="Количество комментариев">
									<span class="date">25/12/2017</span>
									<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
								</div>
							</div>
							<h4><a href="#">Флагман от Samsung 2017 года продолжает радовать своих покупателей новыми функциями</a></h4>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-item col-item-dark">
							<a href="#">
								<img src="img/blog/reviews/13.jpg" alt="Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в депрессию" class="img-responsive img-width overlay" title="Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в депрессию">
							</a>
							<div class="col-item-meta">
								<div class="item-comments" title="Количество комментариев">
									<span class="date">25/12/2017</span>
									<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
								</div>
							</div>
							<h4><a href="#">Bubble gum начал производство разноцветных наклеек, пожевав которые вы впадаете в депрессию</a></h4>
						</div>
					</div>
				</div>
			</div>
		</section>