<div class="type-one-first">
	<div class="pattern">
		<a href="{{ post.url }}" title="{{ post.title }}">
			<img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive img-width">
		</a>
	</div>
	<div class="item-social">
		<div class="item-comments" title="Количество комментариев">
			<i class="fa fa-comments"></i>
			<a class="item-comments-count" href="#disqus_thread"></a>
			<span class="date">{{ post.date | date: '%d' }}/{{ post.date | date: '%m' }}/{{ post.date | date: '%Y' }}</span>
		</div>
	</div>
	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
</div>