		<section class="first-section">
			<div class="container-fluid">
				<div class="ad top-ad">
					<img src="img/ad-horizontal.jpg" alt="alt" class="img-responsive">
				</div>
				<div class="row clearfix">
					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title" style="background-image: url(img/blog/electronics/1.jpg)">
								<div class="item-title-content">
									<h3><a href="#">Новые смартфоны покорили поклонников мобильной индустрии</a></h3>
									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
										</div>
										<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
										<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/1.jpg" data-title="Новые смартфоны покорили поклонников мобильной индустрии">
											<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
											<div class="facebook" title="Поделиться в Facebook">Facebook</div>
											<div class="twitter" title="Поделиться в Twitter">Twitter</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pattern">
							<div class="overlay item-title" style="background-image: url(img/blog/electronics/2.jpg)">
								<div class="item-title-content">
									<h3><a href="#">MacBook Федя занял своё почётное место на бабушкином столе из 60-х</a></h3>
									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
										</div>
										<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
										<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/1.jpg" data-title="MacBook Федя занял своё почётное место на бабушкином столе из 60-х">
											<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
											<div class="facebook" title="Поделиться в Facebook">Facebook</div>
											<div class="twitter" title="Поделиться в Twitter">Twitter</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pattern">
							<div class="overlay item-title" style="background-image: url(img/blog/electronics/3.jpg)">
								<div class="item-title-content">
									<h3><a href="#">На стол знаменитой Московской студии поставили 2 новых девайса</a></h3>
									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
										</div>
										<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
										<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/1.jpg" data-title="На стол знаменитой Московской студии поставили 2 новых девайса">
											<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
											<div class="facebook" title="Поделиться в Facebook">Facebook</div>
											<div class="twitter" title="Поделиться в Twitter">Twitter</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pattern">
							<div class="overlay item-title" style="background-image: url(img/blog/electronics/4.jpg)">
								<div class="item-title-content">
									<h3><a href="#">Новенькие наушники, стилизованные под объективы камер положили на грязный поддон</a></h3>
									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
										</div>
										<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
										<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/1.jpg" data-title="Новенькие наушники, стилизованные под объективы камер положили на грязный поддон">
											<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
											<div class="facebook" title="Поделиться в Facebook">Facebook</div>
											<div class="twitter" title="Поделиться в Twitter">Twitter</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pattern">
							<div class="overlay item-title" style="background-image: url(img/blog/electronics/5.jpg)">
								<div class="item-title-content">

									<h3><a href="#">MacBook Гриша нашел свой дом на нижней полке самодельного короба для обуви</a></h3>
									<div class="item-social">
										<div class="item-comments" title="Количество комментариев">
											<i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
										</div>
										<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
										<div class="likely likely-custom" data-url="path" data-media="img/blog/electronics/1.jpg" data-title="MacBook Гриша нашел свой дом на нижней полке самодельного короба для обуви">
											<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
											<div class="facebook" title="Поделиться в Facebook">Facebook</div>
											<div class="twitter" title="Поделиться в Twitter">Twitter</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>