{% include /header-category.html %}
{% include /home-top-line.html %}
{% include /category-header-baner.html %}
	<div class="cat-list-first">
		<div class="container-fluid">
{% include /advertisement-top.html %}
		</div>
	</div>
<main>
	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="all-posts-header">Все статьи:</div>
					<div class="cat-list-wrap">
{% for post in paginator.posts %}
{% include /category_bottom_lists.html %}
{% endfor %}
					</div>
					<div class="pagination-section pagination-section-first text-center">
{% include /category-pagination.html %}
					</div>
				</div>
				<div class="col-md-4">
{% include /category-aside.html %}
				</div>
			</div>
		</div>
	</div>
</main>
{% include /footer.html %}